.header-social-media {
    display: flex;
    justify-content: left;
    padding-top: 1rem;
    margin-left: 2rem;
    
}

.header-social-media-icon {
    width: 1.4rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.main-header .frontpage {
    margin-top: 2rem;
    height: 22rem;
    /* background: url(https://miro.medium.com/max/10944/0*ujeElwPqj10c8BR0); */
    /* background: url(/images/header-plant6.jpg); */
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
}
.main-header {
    margin-top: 2rem;
    height: 22rem;
    /* background: url(https://miro.medium.com/max/10944/0*ujeElwPqj10c8BR0); */
    /* background: url(/images/header-plant6.jpg); */
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
}
/* .main-header header:hover {
    position: relative;
    transition: transform .55s ease;
    transform: scale(1.03);
} */
/* .full {
    width: 100%;
    height: 25rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
  }
  
  .zoom {
    animation: scale 20.4s linear infinite;
  }
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1);
    }
  } */

.header-title {
    font-family: 'Meddon', cursive;
    color: black;
    font-size: 50rem;
    font-weight: 100;
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.header-title .frontpage {
       font-family: 'Meddon', cursive;
    color: black;
    font-size: 50rem;
    font-weight: 100;
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


.intro {
    margin-top: 2.5rem;
    height: 6rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.intro-text {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    width: 24rem;
    line-height: 1.5rem;
    color: black;
    background: rgba(255, 255, 255, 0.849);
    box-shadow:0px 0px 83px 41px rgba(255, 255, 255, 0.699);
    border-radius: 0.7rem;

}
.intro-text-header {
    font-size: 1.5rem;
    width: 20rem;

}